.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  max-height: 430px;
  padding: 0 20px;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #f7f7f7;

  display: flex;
  flex-direction: column;
}

.carImgLabel {
  margin: 5px 0 20px 0;
  font-family: 'NanumBarunGothic';
  font-weight: bold;
  font-size: 1rem;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
}

.carImgInput[type="file"] {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: NanumBarunGothic;
  src: url('./fonts/NanumBarunGothic.woff');
}